// colors

$red: #52023B;
$purple: #A136C7;
$pink: #CB73E9;
$yellow: #CCFF00;
$black: #6A6A6A;
$gray: #ACACAC;

// colors

body {
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}

*,*:after, *:before {
    box-sizing: border-box;
}
